#loadingIcon {
  display: none;
}

[layout-padding], [layout-padding]>[flex] {
  padding: 5px !important;
}

#mainTable {
  th {
    cursor: pointer;
    font-size: 14px;
    //vertical-align: middle;

    text-transform: capitalize;

    border: 2px solid #EEEEEE;

    padding: 5px 5px 0 5px;

    .sortDirection {
      float: right;
    }
  }

  overflow: scroll;
}

#tableCard {
  overflow-y: scroll;

  height: 91%;
}

.searchCard {
  margin-top: 10px;

  height: calc(100% - 110px);
}

.pageHeader {
  background-color: #1A237E !important;

  > * {
    margin-left: 20px;
  }

  .iconButton{
    margin: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .githubButton {
    background-color: grey !important;
  }

  .twitterButton {
    background-color: dodgerblue !important;
  }
}

.searchQueryContainer {
  i {
    margin-right: 10px;
  }
}

.searchResultsLength {
  background-color: #2095F2;
  border-radius: 5px;
  margin-right: 10px;

  text-align: center;

  padding: 10px;
}

.searchTitle {
  margin-left: 20px;
  font-size: 5vh;
}

.topButtons {
  padding: 0px 10px;

  > button {
    background-color: #7986CB !important;
    color: white !important;
  }
}

.searchButtons {
  font-size: 3vh;
}

.pagination {
  margin: 0 !important;

  cursor: pointer;
}

.centerText {
  text-align: center;
}